body {
	margin: 0px;
	padding: 0px;
}

 div { 
	width: 200px;
	height: 200px;
	}


.uno { 
	background-color: #ee3e64;
	position: absolute;
	left: 0px;
	top: 0px;

}

.dos { 
	background-color: turquoise;
	position: absolute;
	right: 0px;
	top: 0px;
}

.tres { 
	background-color: #b7d84b;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.cuatro {
	background-color: #000800;
	position: absolute;
	right: 0px;
	bottom: 0px;
}