body {
	margin: 0px;
	padding: 0px;
}

 div { 
	width: 200px;
	height: 200px;
	margin: 0px;
	}

 p {
 	font-size: 50px;
 	margin: 50px;
 }

.uno { 
	background-color: #ee3e64;
	position: static;
	left: 0px;
	top: 0px;

}

.dos { 
	background-color: turquoise;
	position: static;
	right: 200px;
	top: 0px;
}

.tres { 
	background-color: #b7d84b;
	position: absolute;
	left: 200px;
	bottom: 155px;
}

.cuatro {
	background-color: #0508ff;
	position: static;
	right: 0px;
	bottom: 0px;
}